{% extends 'parent.html'%}
{%block content%}
<h1>List Tracks</h1>
{#{{tracks}}#}
<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {%for track in tracks%}
        <tr>
            <td>{{track.0}}</td>
            <td>{{track.1}}</td>
            <td>
                <a href="{%url 'trackupdate' track.0 %}">Update</a>
                <a href="{%url 'trackdelete' track.0%}">Delete</a>
            </td>
        </tr>
    {%endfor%}
</table>

{%endblock%}
{%block tit%}
Track - List
{%endblock%}