    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tracks-Add</title>
    </head>
    <body>
    <table border="1" width="100%" height="100%">
        <tr>
            <td>
                <a href="">Trainee</a>
                <a href="">Tracks</a>
                <a href="">Logout</a>
            </td>
        </tr>
        <tr>
            <td>

                <from method="post">
                    <label>Name</label>
                </from>
            </td>
        </tr>
        <tr>
            <td>
                <h1>copy.</h1>
            </td>
        </tr>
    </table>
    </body>
    </html>
