{% extends 'parent.html'%}
{%block tit%}
Trainee - Update
{%endblock%}
{%block content%}
<h1>Update Trainees</h1>
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <label>Name:</label>
    <input type="text" required name="trname" value="{{oldobj.name}}">
    </br>
    <label>Email:</label>
    <input type="text" required name="tremail" value="{{oldobj.email}}">
    </br>
    <label>Profile image:</label>
    <input type="file" required name="trimg">
    </br>
    <input type="submit" value="Update">
</form>
{%endblock%}
